# Git
.git
.gitignore

# Build artifacts
**/build
!build/static
**/target
**/*.db
**/*.db-shm
**/*.db-wal
**/erl_crash.dump

# IDE
.vscode
.idea
**/.DS_Store

# Env files
**/.env
**/.env.local

# Claude
.claude
